<div class="sidenav">
  <ul class="list">
    <li><a href="#">La Bibliothèque</a></li>
    <li><a [routerLink]="['/concilium']" >Le Conseil</a></li>
    <li><a href="#">Le Belvédère</a></li>
    <li><a href="#">Le Palais</a></li>
    <li><a href="#">Le Tribunal</a></li>
    <li><a href="#">La Grande Tour</a></li>
    <li><a href="#">Les Guildes</a></li>
  </ul>
<div>
    <div class="codexImage"><a href=""><img src="assets/pics/codex.png"></a></div>
    <div class="codexText">consulter le codex</div>
</div>
<div>
    <div class="codexImage"><img src="/assets/pics/plume.png"></div>
    <div class="codexText">nourrir le codex</div>
</div>
</div>
